<body>
    <%- include("./zones/header.ejs") %>
    <div class="container">
        <div class="row">
          <div class="col"></div>

          <div class="col-6">
            <h2>Intra in cont</h2>
            <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Adresa de email</span>
            <input type="text" class="form-control">
            </div>
            <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Parola contului</span>
            <input type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-success btn-custom btn-block">Intra in cont</button>
          </div>
          <div class="col"></div>
        </div>
    </div>
    <%- include("./zones/footer.ejs") %>
</body>